﻿@model StoreManagementSystem.Models.DailyStoreShipment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Daily Store Shipment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.TransactionNo, "Transcation No", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.TransactionNo, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.TransactionNo, @readonly = true } })
                        @Html.ValidationMessageFor(model => model.TransactionNo, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.ShippedQty, "Shipped Qty", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.ShippedQty, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShippedQty, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.VehicleNo, "Vehicle No", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.VehicleNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VehicleNo, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Securitylock, "Security Lock", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.Securitylock, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Securitylock, "", new { @class = "text-danger" })
                    </div>
            </div>
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.StyleName, "Style Name", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.StyleName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StyleName, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.CartoonQty, "Cartoon Qty", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.CartoonQty, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CartoonQty, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.DriverName, "Driver Name", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.DriverName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DriverName, "", new { @class = "text-danger" })
                    </div>
                <br />
                @{
                    List<SelectListItem> listItems1 = new List<SelectListItem>();
                    listItems1.Add(new SelectListItem
                    {
                        Text = "Air",
                        Value = "Air",
                    });
                    listItems1.Add(new SelectListItem
                    {
                        Text = "Sea",
                        Value = "Sea"

                    });
                    listItems1.Add(new SelectListItem
                    {
                        Text = "Land",
                        Value = "Land"
                    });
                }
                <div>
                    @Html.LabelFor(model => model.ShippedBy, "Shipped By", new { @class = "required" })
                </div>
                    <div>
                        @Html.DropDownListFor(model => model.ShippedBy, listItems1, "Select Shipping", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ShippedBy, "", new { @class = "text-danger" })
                    </div>
            </div>
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.OrderNo, "Order No", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.OrderNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OrderNo, "", new { @class = "text-danger" })
                    </div>
                <br />
                @{
                    List<SelectListItem> listItems2 = new List<SelectListItem>();
                    listItems2.Add(new SelectListItem
                    {
                        Text = "ShipMode1",
                        Value = "ShipMode1",
                    });
                    listItems2.Add(new SelectListItem
                    {
                        Text = "ShipMode2",
                        Value = "ShipMode2"

                    });
                    listItems2.Add(new SelectListItem
                    {
                        Text = "ShipMode3",
                        Value = "ShipMode3"
                    });
                }
                <div>
                    @Html.LabelFor(model => model.Shipmode, "Ship Mode", new { @class = "required" })
                </div>
                    <div>
                        @Html.DropDownListFor(model => model.Shipmode, listItems2,"-Select-", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Shipmode, "", new { @class = "text-danger" })
                    </div>

                <br />
                <div>
                    @Html.LabelFor(model => model.DeliveryChallanNo, "Delivery Challan No", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.DeliveryChallanNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DeliveryChallanNo, "", new { @class = "text-danger" })
                    </div>
                <br />
                @{
                    List<SelectListItem> listItems3 = new List<SelectListItem>();
                    listItems3.Add(new SelectListItem
                    {
                        Text = "Port1",
                        Value = "Port1",
                    });
                    listItems3.Add(new SelectListItem
                    {
                        Text = "Port1",
                        Value = "Port1"

                    });
                    listItems3.Add(new SelectListItem
                    {
                        Text = "Port1",
                        Value = "Port1"
                    });
                }
                <div>
                    @Html.LabelFor(model => model.PortNo, "Port", new { @class = "required" })
                </div>
                    <div>
                        @Html.DropDownListFor(model => model.PortNo, listItems3,"-Select-", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PortNo, "", new { @class = "text-danger" })
                    </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
