﻿
@{
    ViewBag.Title = "DailyStoreShipmentByDateRange";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Shipment By Date Range</h2>
<br />
@using (Html.BeginForm("DailyStoreShipmentByDateRangeView", "DailyStoreShipments"))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="controls">
                    <input type="date" id="from_date" name="FromDate" placeholder="From Date" class="form-control datepicker" data-start-view="2" required>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="controls">
                    <input type="date" id="to_date" name="ToDate" placeholder="To Date" class="form-control datepicker" data-start-view="2" required>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
    <hr />
    <div class="content-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive" data-pattern="priority-columns">
                    @if (Model.Count > 0)
                    {
                        <div class="btn-group">
                            @using (Html.BeginForm("PrintDailyStoreShipmentByDateRangeView", "DailyStoreShipments", FormMethod.Post, new { @target = "_blank", @role = "form", @enctype = "multipart/form-data" }))
                            {
                                <button type="button" onclick="location.href='@Url.Action("PrintDailyStoreShipmentByDateRange", "DailyStoreShipments")'" target="_blank" class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-print"></span> Print
                                </button>
                            }
                        </div>

                        <div>
                            @foreach (var item in Model)
                            {
                                <hr />
                                <h4>Shipment ID: @item.Id</h4>
                                <h4>Transaction No: @item.TransactionNo</h4>
                                <h4>Transaction Date: @item.TransactionDate</h4>
                                <h4>Style Name: @item.StyleName</h4>
                                <h4>Order No: @item.OrderNo</h4>
                                <h4>Shipped Quantity: @item.ShippedQty</h4>
                                <h4>Cartoon Quantity: @item.CartoonQty</h4>
                                <h4>Ship Mode: @item.Shipmode</h4>
                                <h4>Vehicle No: @item.VehicleNo</h4>
                                <h4>Driver Name: @item.DriverName</h4>
                                <h4>Delivery Challan No: @item.DeliveryChallanNo</h4>
                                <h4>Security Lock: @item.Securitylock</h4>
                                <h4>Shipped By: @item.ShippedBy</h4>
                                <h4>Port No: @item.ShippedBy</h4>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

