﻿@model StoreManagementSystem.Models.DailyStoreShipment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DailyStoreShipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StyleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StyleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippedQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippedQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CartoonQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CartoonQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipmode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipmode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryChallanNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryChallanNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Securitylock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Securitylock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PortNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortNo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
