﻿@model StoreManagementSystem.Models.DailyStoreShipment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DailyStoreShipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Transaction No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionNo)
        </dd>

        <dt>
            Transaction Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
           Style Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StyleName)
        </dd>

        <dt>
           Order No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNo)
        </dd>

        <dt>
            Shipped Qty
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippedQty)
        </dd>

        <dt>
            Cartoon Qty
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CartoonQty)
        </dd>

        <dt>
            Ship Mode
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipmode)
        </dd>

        <dt>
            Vehicle No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleNo)
        </dd>

        <dt>
            Driver Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverName)
        </dd>

        <dt>
            Delivery Challan No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryChallanNo)
        </dd>

        <dt>
            Security Lock
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Securitylock)
        </dd>

        <dt>
           Shipped By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippedBy)
        </dd>

        <dt>
            Port No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
