﻿@model IEnumerable<StoreManagementSystem.Models.DailyStoreShipment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<br />
<div class="col-md-12 col-sm-12 col-xs-12">
    @{int rowNo = 0;}
    <table id="myTable" class="table table-striped dt-responsive display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>SL</th>
                <th>
                    Transaction No
                </th>
                <th>
                    Transation Date
                </th>
                <th>
                    Style Name
                </th>
                <th>
                    Order No
                </th>
                <th>
                    shipped Quantity
                </th>
                <th>
                    Cartoon Qty
                </th>
                <th>
                    Shipment Mode
                </th>
                <th>
                    Vehicle No
                </th>
                <th>
                    Driver Name
                </th>
                <th>
                    Delivery Challan No
                </th>
                <th>
                    Security Lock
                </th>
                <th>
                    Shipped By
                </th>
                <th>
                    Port No
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>SL</th>
                <th>
                    Transaction No
                </th>
                <th>
                    Transation Date
                </th>
                <th>
                    Style Name
                </th>
                <th>
                    Order No
                </th>
                <th>
                    shipped Quantity
                </th>
                <th>
                    Cartoon Qty
                </th>
                <th>
                    Shipment Mode
                </th>
                <th>
                    Vehicle No
                </th>
                <th>
                    Driver Name
                </th>
                <th>
                    Delivery Challan No
                </th>
                <th>
                    Security Lock
                </th>
                <th>
                    Shipped By
                </th>
                <th>
                    Port No
                </th>
                <th>Options</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center" width="5%">
                        @(rowNo += 1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StyleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippedQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CartoonQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shipmode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DriverName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryChallanNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Securitylock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PortNo)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section content
{
    @Styles.Render("~/Content/dataTable")
}
@section scripts
{
    @Scripts.Render("~/bundles/dataTable")
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'processing': true
            });
        });
    </script>
}
