﻿
@{
    ViewBag.Title = "PrintDailyStoreShipmentByDateRange";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<script src="~/Content/jquery-1.11.2.min.js" type="text/javascript"></script>
<head>
    <meta charset="utf-8">
    <title>Shipment</title>
    <link rel="stylesheet" href="style.css" media="all" />
</head>

<header class="clearfix">
    <h1>Shipment List</h1>
</header>


<body>
    <main>
        <div class="content-body">
            <div class="table-responsive" data-pattern="priority-columns">
                <div class="form-group" display="inline">
                    <div style="float: left; width: 100%">
                        <div>
                            @foreach (var item in Model)
                            {
                                <hr />
                                <h4>Shipment ID: @item.Id</h4>
                                <h4>Transaction No: @item.TransactionNo</h4>
                                <h4>Transaction Date: @item.TransactionDate</h4>
                                <h4>Style Name: @item.StyleName</h4>
                                <h4>Order No: @item.OrderNo</h4>
                                <h4>Shipped Quantity: @item.ShippedQty</h4>
                                <h4>Cartoon Quantity: @item.CartoonQty</h4>
                                <h4>Ship Mode: @item.Shipmode</h4>
                                <h4>Vehicle No: @item.VehicleNo</h4>
                                <h4>Driver Name: @item.DriverName</h4>
                                <h4>Delivery Challan No: @item.DeliveryChallanNo</h4>
                                <h4>Security Lock: @item.Securitylock</h4>
                                <h4>Shipped By: @item.ShippedBy</h4>
                                <h4>Port No: @item.ShippedBy</h4>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="notices">
            <div>Shipment Information</div>
            <div class="notice">This is date wise record of your test Shipment information</div>
        </div>
    </main>
</body>
<footer style="margin-top:20%">
    <p class="text-center">Copyrights &#169; 2018 Setu. All Rights Reserved.</p>
</footer>



<style>
    .square {
        border-radius: 4px;
        background: #228B22;
        width: 60%;
        height: 10%;
        text-align: center;
        margin-left: 25%;
        font-size: 30px;
    }

        .square b {
            color: #fff;
            text-align: center;
        }

    .square2 {
        border-radius: 4px;
        background: #ff0000;
        width: 60%;
        height: 10%;
        text-align: center;
        margin-left: 25%;
        font-size: 25px;
    }

        .square2 b {
            color: #fff;
            text-align: center;
        }

    .square3 {
        border-radius: 4px;
        background: #002366;
        width: 110%;
        height: 10%;
        text-align: center;
        font-size: 25px;
        margin-left: 15%;
    }

        .square3 b {
            color: #fff;
            text-align: center;
        }


    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    a {
        color: #5D6975;
        text-decoration: underline;
    }

    body {
        position: relative;
        width: 21cm;
        margin: 0 auto;
        color: #001028;
        background: #FFFFFF;
        font-family: Arial, sans-serif;
        font-size: 12px;
    }

    header {
        padding: 10px 0;
    }

    #logo {
        text-align: center;
        margin-bottom: 10px;
    }

        #logo img {
            width: 100%;
        }

    h1 {
        border-top: 1px solid #5D6975;
        border-bottom: 1px solid #5D6975;
        color: #5D6975;
        font-size: 2.4em;
        line-height: 1.4em;
        font-weight: normal;
        text-align: center;
        margin: 0 0 20px 0;
        background: url(dimension.png);
    }

    #project {
        float: left;
    }

        #project span {
            color: #5D6975;
            text-align: right;
            width: 52px;
            margin-right: 10px;
            display: inline-block;
            font-size: 0.8em;
        }

    #company {
        float: right;
        text-align: right;
    }

    #status {
        margin-top: 3%;
    }


    #project div,
    #company div {
        white-space: nowrap;
        font-size: 12px;
    }

    table {
        width: 50%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px;
    }

        table tr:nth-child(2n-1) td {
            background: #F5F5F5;
        }

        table th,
        table td {
            text-align: center;
        }

        table th {
            padding: 5px 20px;
            color: #5D6975;
            border-bottom: 1px solid #C1CED9;
            white-space: nowrap;
            font-weight: normal;
        }

        table .service,
        table .desc {
            text-align: left;
        }

        table td {
            padding: 20px;
            text-align: center;
        }

            table td.service,
            table td.desc {
                vertical-align: top;
            }

            table td.unit,
            table td.qty,
            table td.total {
                font-size: 1.2em;
            }

            table td.grand {
                border-top: 1px solid #5D6975;
            }

    #notices .notice {
        color: #5D6975;
        font-size: 1.2em;
    }
</style>