﻿@model StoreManagementSystem.Models.GRNDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GRN Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            GRN Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRNmanagement.GRNType)
        </dd>

        <dt>
            Item Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>
            Ordered Quantity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderedQuantity)
        </dd>

        <dt>
            Received Quantity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedQuantity)
        </dd>

        <dt>
            Yet To Receive
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YetToReceive)
        </dd>

        <dt>
            Lot Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LotNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { id = Model.GRNId})
</p>
