﻿@model StoreManagementSystem.Models.GRNDetails

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript">
    $("#itemname").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/GRNmanagements/GetExistingOrders",
                type: "POST",
                dataType: "json",
                data: { ItemName: $("#itemname").val(), OrderId: $("#order_id").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Item.Name + " (" + item.Quantity + ")", name: item.Item.Name, quantity: item.Quantity, id: item.ItemId };
                    }));
                }
            });
        },
        select: function (event, ui) {
            $("#itemid").val(ui.item.id);
            $("#itemname").val(ui.item.name);
            $('#quantity').val(ui.item.quantity);
            return false;
        }
    });

    function calculateYetToReceive() {
        if ($("#quantity").val() != "" && $("#rcv_quantity").val() != "") {
            var qty = $("#quantity").val();
            var rcv_quantity = $("#rcv_quantity").val();
            var ytr_quantity = qty - rcv_quantity;
            $("#ytr_quantity").val(ytr_quantity);
        }
    }

    </script>
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>GRNDetails</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.GRNId)

        <div class="form-group">
            @Html.LabelFor(model => model.ItemId, "Item", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" class="form-control" style="width:100%" id="itemid" name="ItemId" />
                <input type="text" class="form-control" style="width:100%" id="itemname" name="ItemName" placeholder="Item Name" onchange="calculateYetToReceive()" />
                @*@Html.DropDownList("ItemId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderedQuantity,"Ordered Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" style="width:100%" id="quantity" name="Quantity" placeholder="Quantity" readonly />
                @*@Html.EditorFor(model => model.OrderedQuantity, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.OrderedQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReceivedQuantity,"Received Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" style="width:100%" id="rcv_quantity" name="RcvQuantity" placeholder="Received Quantity" onchange="calculateYetToReceive()" />
                @*@Html.EditorFor(model => model.ReceivedQuantity, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.ReceivedQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YetToReceive,"Yet To Receive", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" style="width:100%" id="ytr_quantity" name="YtrQuantity" placeholder="Yet To Receive Quantity" readonly />
                @Html.EditorFor(model => model.YetToReceive, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.YetToReceive, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LotNumber,"Lot Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LotNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LotNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id = Model.GRNId})
</div>
