﻿@model IEnumerable<StoreManagementSystem.Models.GRNDetails>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = @ViewBag.GRNId })
</p>

<center><h4>GRN Id : @ViewBag.GRNId</h4></center>

<div class="col-md-12 col-sm-12 col-xs-12">
    @{int rowNo = 0;}
    <table id="myTable" class="table table-striped dt-responsive display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>SL</th>
                <th>
                    GRN Type
                </th>
                <th>
                    Item Name
                </th>
                <th>
                    Ordered Quantity
                </th>
                <th>
                   Received Quantity
                </th>
                <th>
                    Yet To Receive
                </th>
                <th>
                    Lot Number
                </th>
                <th>
                    Supplier
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>SL</th>
                <th>
                    GRN Type
                </th>
                <th>
                    Item Name
                </th>
                <th>
                    Ordered Quantity
                </th>
                <th>
                    Received Quantity
                </th>
                <th>
                    Yet To Receive
                </th>
                <th>
                    Lot Number
                </th>
                <th>
                   Supplier
                </th>
                <th>Options</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center" width="5%">
                        @(rowNo += 1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GRNmanagement.GRNType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderedQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceivedQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YetToReceive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LotNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div>
    @Html.ActionLink("Back to List", "Index", "GRNmanagements")
</div>

@section content
{
    @Styles.Render("~/Content/dataTable")
}
@section scripts
{
    @Scripts.Render("~/bundles/dataTable")
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'processing': true
            });
        });
    </script>
}
