﻿@model StoreManagementSystem.Models.TransferRequisitionsIssue

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript">
        $("#storename").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/TransferRequisitionsIssues/GetExistingStores",
                    type: "POST",
                    dataType: "json",
                    data: { StoreName: $("#storename").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name , name: item.Name,  id: item.Id };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                $("#storeid").val(ui.item.id);
                $("#storename").val(ui.item.name);
                return false;
            }
        });
        $("#rcvstorename").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/TransferRequisitionsIssues/GetExistingReceiveStores",
                    type: "POST",
                    dataType: "json",
                    data: { RecieveStoreName: $("#rcvstorename").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, name: item.Name, id: item.Id };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                $("#rcvstoreid").val(ui.item.id);
                $("#rcvstorename").val(ui.item.name);
                return false;
            }
        });
        $("#itemname").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/TransferRequisitionsIssues/GetExistingItems",
                    type: "POST",
                    dataType: "json",
                    data: { ItemName: $("#itemname").val(), StoreId: $("#storeid").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Item.Name + ", Quantity:" + item.QCPassedQuantity, name: item.Item.Name, id: item.Item.Id, qcpassqty: item.QCPassedQuantity };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                $("#itemid").val(ui.item.id);
                $("#itemname").val(ui.item.name);
                $("#qcpassqty").val(ui.item.qcpassqty);
                return false;
            }
        });

        function validation()
        {
            if(parseFloat($('#issuequantity').val()) > parseFloat($('#qcpassqty').val()))
            {
                alert("You cannot Issue greater than Qc Passed Quantity!");
            }
        }

        function addItem() {
        if ($('#itemid').val() != "") {
            $.ajax({
                url: '/TransferRequisitionsIssues/GetSelectedItems',
                method: 'POST',
                data: {
                    ItemId: $('#itemid').val(),
                    ItemName: $('#itemname').val(),
                    IssueQuantity: $('#issuequantity').val(),
                    LotNumber: $('#lotnumber').val(),
                },
                cache: false,
                error: function () {
                    alert("An error occoured!");
                },
                success: function (response) {
                    $('#myTable tbody').empty();
                    for (var i = 0; i < response.length; i++) {
                        $('#myTable').find('tbody').append("<tr>" +
                                                        "<td>" +
                                                             "<label class = \"form-control\" style = \"width:100%\">" + response[i].Item.Name + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].IssueQuantity + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].LotNumber + "</label>" +
                                                        "</td>" +
                                                        "<td class=\"action\">" +
                                                            "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteFromList(" + response[i].Id + ")\">Remove</button>" +
                                                        "</td></tr>")
                    }
                    $('#itemid').val('');
                    $('#itemname').val('');
                    $('#issuequantity').val('');
                    $('#lotnumber').val('');
                    $('#itemname').focus();
                    document.getElementById("submitBtn").removeAttribute("disabled");
                }
            });
        }
        else {
            alert('Must have to enter item name!');
        }
          }
          function deleteFromList(detailsId) {
              $.ajax({
                  url: '/TransferRequisitionIssues/DeleteFromList',
                  method: 'POST',
                  data: {
                      DetailsId: detailsId,
                  },
                  cache: false,
                  error: function () {
                      alert("An error occoured!");
                  },
                  success: function (response) {
                      $('#myTable tbody').empty();
                      for (var i = 0; i < response.length; i++) {
                          $('#myTable').find('tbody').append("<tr>" +
                                                          "<td>" +
                                                               "<label class = \"form-control\" style = \"width:100%\">" + response[i].Item.Name + "</label>" +
                                                          "</td>" +
                                                          "<td>" +
                                                              "<label class = \"form-control\" style = \"width:100%\">" + response[i].IssueQuantity + "</label>" +
                                                          "</td>" +
                                                          "<td>" +
                                                              "<label class = \"form-control\" style = \"width:100%\">" + response[i].LotNumber + "</label>" +
                                                          "</td>" +
                                                          "<td class=\"action\">" +
                                                              "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteFromList(" + response[i].Id + ")\">Remove</button>" +
                                                          "</td></tr>")
                      }
                      if (response.length == 0) {
                          document.getElementById("submitBtn").setAttribute("disabled", true);
                      }
                  }
              });
          }
    </script>

}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Transfer Requisition Issue</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.TransferNo, "Transfer No", new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.TransferNo, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.TransferNo, @readonly = true } })
                    @Html.ValidationMessageFor(model => model.TransferNo, "", new { @class = "text-danger" })
                </div>
                <br />
                @{
                    List<SelectListItem> listItems5 = new List<SelectListItem>();
                    listItems5.Add(new SelectListItem
                    {
                        Text = "Internal Requisition",
                        Value = "Internal Requisition",
                    });
                    listItems5.Add(new SelectListItem
                    {
                        Text = "External Requisition",
                        Value = "External Requisition"

                    });
                }
                <div>
                    @Html.LabelFor(model => model.IssueBu, "Issue BU", new { @class = "required" })
                </div>
                <div>
                    @Html.DropDownListFor(model => model.IssueBu, listItems5,"-Select-", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IssueBu, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.IssueStoreId, "Issue Store", new { @class = "required" })
                </div>
                <div>
                    <input type="hidden" class="form-control" style="width:100%" id="storeid" name="IssueStoreId" />
                    <input type="text" class="form-control" style="width:100%" id="storename" name="IssueStoreName" placeholder="Issue Store Name" />
                    @*@Html.DropDownList("IssueStoreId", null, "--Select--", htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.IssueStoreId, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.GatePassNo, "Get Pass No", new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.GatePassNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GatePassNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                @{
                    List<SelectListItem> listItems1 = new List<SelectListItem>();
                    listItems1.Add(new SelectListItem
                    {
                        Text = "Internal Requisition",
                        Value = "Internal Requisition",
                    });
                    listItems1.Add(new SelectListItem
                    {
                        Text = "External Requisition",
                        Value = "External Requisition"

                    });
                }
                <div>
                    @Html.LabelFor(model => model.RequsitionType, "Requisition Type", new { @class = "required" })
                </div>
                <div>
                    @Html.DropDownListFor(model => model.RequsitionType, listItems1, "Select Requisition Type", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RequsitionType, "", new { @class = "text-danger" })
                </div>
                <br />
                @{
                    List<SelectListItem> listItems6 = new List<SelectListItem>();
                    listItems6.Add(new SelectListItem
                    {
                        Text = "Internal Requisition",
                        Value = "Internal Requisition",
                    });
                    listItems6.Add(new SelectListItem
                    {
                        Text = "External Requisition",
                        Value = "External Requisition"

                    });
                }
                <div>
                    @Html.LabelFor(model => model.ReceiveBu, "Receive BU", new { @class = "required" })
                </div>
                <div>
                    @Html.DropDownListFor(model => model.ReceiveBu, listItems6,"-Select-", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReceiveBu, "", new { @class = "text-danger" })
                </div>
                <br />
                @{
                    List<SelectListItem> listItems3 = new List<SelectListItem>();
                    listItems3.Add(new SelectListItem
                    {
                        Text = "Store 1",
                        Value = "Store 1",
                    });
                    listItems3.Add(new SelectListItem
                    {
                        Text = "Store 2",
                        Value = "Store 2"

                    });
                }
                <div>
                    @Html.LabelFor(model => model.ReceiveStoreId, "Receive Store", new { @class = "required" })
                </div>
                <div>
                    <input type="hidden" class="form-control" style="width:100%" id="rcvstoreid" name="ReceiveStoreId" />
                    <input type="text" class="form-control" style="width:100%" id="rcvstorename" name="ReceiveStoreName" placeholder="Receive Store Name" />
                    @*@Html.DropDownList("ReceiveStoreId", null, "--Select--", htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.ReceiveStoreId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.VehicleNo, "Vehicle No", new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.VehicleNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VehicleNo, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.DriverName, "Driver Name", new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.DriverName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DriverName, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.ChallanNo, "Challan No", new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.ChallanNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChallanNo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <section class="box ">
                <h4>Details</h4>
                <div class="row">
                    <table id="myTable" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Issue Quantity</th>
                                <th>Lot Number</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input type="hidden" class="form-control" style="width:100%" id="itemid" name="ItemId" />
                                    <input type="text" class="form-control" style="width:100%" id="itemname" name="ItemName" placeholder="Item Name" />
                                </th>
                                <th>
                                    <input type="hidden" class="form-control" style="width:100%" id="qcpassqty" name="QcPassedQuantity" />
                                    <input type="text" class="form-control" style="width:100%" id="issuequantity" name="IssueQuantity" placeholder="Issue Quantity" onchange="validation()"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="lotnumber" name="LotNumber" placeholder="LotNumber" />
                                </th>
                                <th>
                                    <button type="button" class="btn btn-primary" aria-expanded="false" onclick="addItem()">Add Item</button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
        </div>
        <br />
        <div class="row">
            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-default" id="submitBtn" disabled />
            </div>
        </div>
    </div>
                    }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
