﻿@model StoreManagementSystem.Models.TransferRequisitionsIssue

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TransferRequisitionsIssue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IssueStore.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueStore.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiveStore.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiveStore.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issuedate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issuedate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receivedate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receivedate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequsitionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequsitionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueBu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueBu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiveBu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiveBu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChallanNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChallanNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GatePassNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GatePassNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
