﻿@model StoreManagementSystem.Models.TransferRequisitionsIssue

@{
    ViewBag.Title = "Receive";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Receive</h2>

<h3>Are you sure you want to receive this?</h3>
<div>
    <h4>TransferRequisitionIssue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransferNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issuedate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issuedate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receivedate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receivedate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequsitionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequsitionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueBu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueBu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiveBu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiveBu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleNo)
        </dd>

        <dt>
            Issue Store
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueStore.Name)
        </dd>

        <dt>
            Receive Store
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiveStore.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChallanNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChallanNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GatePassNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GatePassNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Receive" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
