﻿@model IEnumerable<StoreManagementSystem.Models.TransferRequisitionsIssue>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (ViewBag.Status == "Issued")
{
    <h2>Issued Index</h2>
}
else
{
    <h2>Received Index</h2>
}


<br />
<div class="col-md-12 col-sm-12 col-xs-12">
    @{int rowNo = 0;}
    <table id="myTable" class="table table-striped dt-responsive display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>SL</th>
                <th>Details</th>
                <th>
                    Transfer No
                </th>
                <th>
                    Issue Date
                </th>
                <th>
                    Receive Date
                </th>
                <th>
                    Requsition Type
                </th>
                <th>
                    Issue Bu
                </th>
                <th>
                    Receive Bu
                </th>
                <th>
                    Vehicle No
                </th>
                <th>
                    Issue Store
                </th>
                <th>
                    Receive Store
                </th>
                <th>
                    Driver Name
                </th>
                <th>
                    Challan No
                </th>
                <th>
                    Gate Pass No
                </th>
                <th>
                    Status
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>SL</th>
                <th>Details</th>
                <th>
                    Transfer No
                </th>
                <th>
                    Issue Date
                </th>
                <th>
                    Receive Date
                </th>
                <th>
                    Requsition Type
                </th>
                <th>
                    Issue Bu
                </th>
                <th>
                    Receive Bu
                </th>
                <th>
                    Vehicle No
                </th>
                <th>
                    Issue Store
                </th>
                <th>
                    Receive Store
                </th>
                <th>
                    Driver Name
                </th>
                <th>
                    Challan No
                </th>
                <th>
                    Gate Pass No
                </th>
                <th>
                    Status
                </th>
                <th>Options</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center" width="5%">
                        @(rowNo += 1)
                    </td>
                    <td align="center" width="8%">
                        <button type="button" class="btn btn-default btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "TransferRequisitionDetails", new { id = item.Id })'">Item Details</button>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransferNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Issuedate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Receivedate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequsitionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueBu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceiveBu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueStore.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceiveStore.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DriverName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChallanNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GatePassNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @if (item.Status == "Issued")
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @Html.Raw("| ")
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) @Html.Raw("| ")
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) @Html.Raw("| ")
                            @Html.ActionLink("Receive", "Receive", new { id = item.Id })
                        }
                        else
                        {
                            @Html.Raw("Action Taken")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section content
{
    @Styles.Render("~/Content/dataTable")
}
@section scripts
{
    @Scripts.Render("~/bundles/dataTable")
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'processing': true
            });
        });
    </script>
}
