﻿
@{
    ViewBag.Title = "TransferRequisitionByDateRange";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var TransferRequisitionDetailsList = (List<StoreManagementSystem.Models.TransferRequisitionDetails>)Session["TransferRequisitionDetailsList"];
}
<br />
<h2>Transfer Requisition By Date Range</h2>
<br />
@using (Html.BeginForm("TransferRequisitionByDateRangeView", "TransferRequisitionsIssues"))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="controls">
                    <input type="date" id="from_date" name="FromDate" placeholder="From Date" class="form-control datepicker" data-start-view="2" required>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="controls">
                    <input type="date" id="to_date" name="ToDate" placeholder="To Date" class="form-control datepicker" data-start-view="2" required>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
    <hr />
    <div class="content-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive" data-pattern="priority-columns">
                    @if (Model.Count > 0)
                    {
                        <div class="btn-group">
                            @using (Html.BeginForm("PrintTransferRequisitionByDateRange", "TransferRequisitionsIssues", FormMethod.Post, new { @target = "_blank", @role = "form", @enctype = "multipart/form-data" }))
                            {
                                <button type="button" onclick="location.href='@Url.Action("PrintTransferRequisitionByDateRange", "TransferRequisitionsIssues")'" target="_blank" class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-print"></span> Print
                                </button>
                            }
                        </div>

                        <div>
                            @foreach (var item in Model)
                            {
                                <hr />
                                <h4>Transfer Requisition ID: @item.Id</h4>
                                <h4>Transfer NO : @item.TransferNo</h4>
                                <h4>Issue date : @item.Issuedate</h4>
                                <h4>Requisition Type : @item.RequsitionType</h4>
                                <h4>Receive Store: @item.ReceiveStore.Name</h4>
                                {
                                    <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th data-priority="1" style="text-align:center">Item</th>
                                                <th data-priority="1" style="text-align:center">Issue Quantity</th>
                                                <th data-priority="1" style="text-align:center">Lot Number</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var itm in TransferRequisitionDetailsList)
                                            {
                                                if (itm.TransferRequisitionId == item.Id)
                                                {
                                                    <tr>
                                                        <td align="center">@itm.Item.Name</td>
                                                        <td align="center">@itm.IssueQuantity</td>
                                                        <td align="center">@itm.LotNumber</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>                        
                    }
                </div>
            </div>
        </div>
    </div>
}

