﻿@model StoreManagementSystem.Models.TransferRequisitionDetails

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript">
        $("#itemname").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Items/GetExistingItems",
                    type: "POST",
                    dataType: "json",
                    data: { ItemName: $("#itemname").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name + " (" + item.Price + ")", name: item.Name, price: item.Price, id: item.Id };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                $("#itemid").val(ui.item.id);
                $("#itemname").val(ui.item.name);
                $('#price').val(ui.item.price);
                return false;
            }
        });
    </script>

}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TransferRequisitionDetails</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="PurchaseOrderId" value="@ViewBag.TransferRequisitionId" />
        <div class="form-group">
            @Html.LabelFor(model => model.ItemId, "Item", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" class="form-control" style="width:100%" id="itemid" name="ItemId" />
                <input type="text" class="form-control" style="width:100%" id="itemname" name="ItemName" placeholder="Item Name" />
               @* @Html.DropDownList("ItemId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IssueQuantity,"Issue Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IssueQuantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IssueQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LotNumber,"Lot Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LotNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LotNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
