﻿@model StoreManagementSystem.Models.TransferRequisitionDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TransferRequisitionDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferRequisition.RequsitionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferRequisition.RequsitionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LotNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LotNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { id = Model.TransferRequisitionId })
</p>
