﻿@model StoreManagementSystem.Models.PRMDetails

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript">
        $("#supplierName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Suppliers/GetExistingSuppliers",
                    type: "POST",
                    dataType: "json",
                    data: { SupplierName: $("#supplierName").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: "Code:" + item.Code + ", Name:" + item.Name + ", Contact Person:" + item.ContactPerson + ", Short Name:" + item.ShortName, id: item.Id, name: item.Name };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                $("#supplierid").val(ui.item.id);
                $("#supplierName").val(ui.item.name);
                return false;
            }
        });
        $("#itemname").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Items/GetExistingItems",
                    type: "POST",
                    dataType: "json",
                    data: { ItemName: $("#itemname").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name + " (" + item.Price + ")", name: item.Name, id: item.Id };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                $("#itemid").val(ui.item.id);
                $("#itemname").val(ui.item.name);
                return false;
            }
        });
    </script>
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PRMDetails</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="PRMId" value="@ViewBag.PRMId" />
        <div class="form-group">
            @Html.LabelFor(model => model.ItemId, "Item", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" class="form-control" style="width:100%" id="itemid" name="ItemId" />
                <input type="text" class="form-control" style="width:100%" id="itemname" name="ItemName" placeholder="Item Name" />
                @*@Html.DropDownList("ItemId", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequiredFor,"Required For", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequiredFor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RequiredFor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
