﻿@model StoreManagementSystem.Models.GQIInfo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GQIInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GoodQualityInspection.Sequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodQualityInspection.Sequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QCPassedQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QCPassedQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RejectedQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RejectedQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloorNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RackNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RackNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cell)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
