﻿@model IEnumerable<StoreManagementSystem.Models.GQIInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GoodQualityInspection.Sequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QCPassedQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RejectedQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store.Floor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store.Rack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store.Cell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store.Bin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GoodQualityInspection.Sequence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivedQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QCPassedQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RejectedQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.Floor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.Rack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.Cell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.Bin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
