﻿@model StoreManagementSystem.Models.GoodQualityInspection

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript">
        $("#storename").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/GoodQualityInspections/GetExistingStores",
                    type: "POST",
                    dataType: "json",
                    data: { StoreName: $("#storename").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: "Name: " + item.Name + ", Department Name:" + item.DepartmentName+", Floor:"+item.Floor+", Rack:"+item.Rack+", Cell:"+item.Cell+", Bin:"+item.Bin, name: item.Name, departmentname: item.DepartmentName, id: item.Id, floor: item.Floor, rack : item.Rack, cell: item.Cell, bin: item.Bin };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                $("#storeid").val(ui.item.id);
                $("#storename").val(ui.item.name);
                $("#floor").val(ui.item.floor);
                $("#rack").val(ui.item.rack);
                $("#cell").val(ui.item.cell);
                $("#bin").val(ui.item.bin);
                return false;
            }
        });

        $("#itemname").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/GoodQualityInspections/GetExistingItems",
                type: "POST",
                dataType: "json",
                data: { ItemName: $("#itemname").val(), GRNId: $("#grnid").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: "Name: " + item.Item.Name + ", Ordered Quantity:" + item.ReceivedQuantity , name: item.Item.Name, receivedquantity: item.ReceivedQuantity, id: item.ItemId };
                    }));
                }
            });
        },
        select: function (event, ui) {
            $("#itemid").val(ui.item.id);
            $("#itemname").val(ui.item.name);
            $('#receivedquantity').val(ui.item.receivedquantity);
            return false;
        }
    });

    function calculateRejectedQuantity() {
        if ($("#receivedquantity").val() != "" && $("#qcpassedquantity").val() != "")
        {
            var rcvqty = $("#receivedquantity").val();
            var qcpqty = $("#qcpassedquantity").val();
            var rejectedqty = rcvqty - qcpqty;
            $("#rejectedquantity").val(rejectedqty);
        }
    }

    function addItem() {
        if ($('#itemid').val() != "") {
            $.ajax({
                url: '/GoodQualityInspections/GetSelectedItems',
                method: 'POST',
                data: {
                    ItemId: $('#itemid').val(),
                    ItemName: $('#itemname').val(),
                    ReceivedQuantity: $('#receivedquantity').val(),
                    QCPassedQuantity: $('#qcpassedquantity').val(),
                    RejectedQuantity: $('#rejectedquantity').val(),
                    StoreId: $('#storeid').val(),
                    StoreName: $('#storename').val(),
                },
                cache: false,
                error: function () {
                    alert("An error occoured!");
                },
                success: function (response) {
                    $('#myTable tbody').empty();
                    for (var i = 0; i < response.length; i++) {
                        $('#myTable').find('tbody').append("<tr>" +
                                                        "<td>" +
                                                             "<label class = \"form-control\" style = \"width:100%\">" + response[i].Item.Name + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].ReceivedQuantity + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].QCPassedQuantity + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].RejectedQuantity + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Store.Name + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Store.Floor + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Store.Rack + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Store.Cell + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Store.Bin + "</label>" +
                                                        "</td>" +
                                                        "<td class=\"action\">" +
                                                            "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteFromList(" + response[i].Id + ")\">Remove</button>" +
                                                        "</td></tr>")
                    }
                    $('#itemid').val('');
                    $('#itemname').val('');
                    $('#receivedquantity').val('');
                    $('#qcpassedquantity').val('');
                    $('#rejectedquantity').val('');
                    $('#storename').val('');
                    $('#floor').val('');
                    $('#rack').val('');
                    $('#cell').val('');
                    $('#bin').val('');
                    $('#itemname').focus();
                    document.getElementById("submitBtn").removeAttribute("disabled");
                }
            });
        }
        else {
            alert('Must have to enter item name!');
        }
    }

    function deleteFromList(detailsId) {
        $.ajax({
            url: '/GoodQualityInspections/DeleteFromList',
            method: 'POST',
            data: {
                DetailsId: detailsId,
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                $('#myTable tbody').empty();
                for (var i = 0; i < response.length; i++) {
                    $('#myTable').find('tbody').append("<tr>" +
                                                    "<td>" +
                                                             "<label class = \"form-control\" style = \"width:100%\">" + response[i].Item.Name + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].ReceivedQuantity + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].QCPassedQuantity + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].RejectedQuantity + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Store.Name + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Store.Floor + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Store.Rack + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Store.Cell + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Store.Bin + "</label>" +
                                                        "</td>" +
                                                        "<td class=\"action\">" +
                                                            "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteFromList(" + response[i].Id + ")\">Remove</button>" +
                                                        "</td></tr>")
                }
                if (response.length == 0) {
                    document.getElementById("submitBtn").setAttribute("disabled", true);
                }
            }
        });
    }
    </script>
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>GoodQualityInspection</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">
                <div>
                    @Html.LabelFor(model => model.Sequence, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.Sequence, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sequence, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    @Html.LabelFor(model => model.GRNId, "GRN", new { @class = "required" })
                </div>
                <div>
                    @Html.DropDownList("GRNId", null, "--Select--", htmlAttributes: new { @class = "form-control", @id = "grnid" })
                    @Html.ValidationMessageFor(model => model.GRNId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <section class="box ">
                <h4>Details</h4>
                <div class="row">
                    <table id="myTable" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Received Quantity</th>
                                <th>QC Passed Quantity</th>
                                <th>Rejected Quantity</th>
                                <th>Store</th>
                                <th>Floor</th>
                                <th>Rack</th>
                                <th>Cell</th>
                                <th>Bin</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input type="hidden" class="form-control" style="width:100%" id="itemid" name="ItemId" />
                                    <input type="text" class="form-control" style="width:100%" id="itemname" name="ItemName" placeholder="Item Name" onchange="calculateRejectedQuantity()" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="receivedquantity" name="ReceivedQuantity" placeholder="Received Quantity" readonly />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="qcpassedquantity" name="QCPassedQuantity" placeholder="QC Passed Quantity" onchange="calculateRejectedQuantity()" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="rejectedquantity" name="RejectedQuantity" placeholder="Rejected Quantity" readonly />
                                </th>
                                <th>
                                    <input type="hidden" class="form-control" style="width:100%" id="storeid" name="StoreId"/>
                                    <input type="text" class="form-control" style="width:100%" id="storename" name="StoreName" placeholder="Store Name" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="floor" name="Floor" placeholder="Floor" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="rack" name="Rack" placeholder="Rack" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="cell" name="Cell" placeholder="Cell" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="bin" name="Bin" placeholder="Bin" />
                                </th>
                                <th>
                                    <button type="button" class="btn btn-primary" aria-expanded="false" onclick="addItem()">Add Item</button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
        </div>
        <br />
        <div class="row">
            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-default" id="submitBtn" disabled />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
