﻿
@{
    ViewBag.Title = "GoodQualityInspetionByDateRange";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var GQIInfoDetailsList = (List<StoreManagementSystem.Models.GQIInfo>)Session["GQIDetailsList"];
}
<br />
<h2>Good Quality Inspection By Date Range</h2>
<br />
@using (Html.BeginForm("GoodQualityInspectionByDateRangeView", "GoodQualityInspections"))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="controls">
                    <input type="date" id="from_date" name="FromDate" placeholder="From Date" class="form-control datepicker" data-start-view="2" required>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="controls">
                    <input type="date" id="to_date" name="ToDate" placeholder="To Date" class="form-control datepicker" data-start-view="2" required>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
    <hr />
    <div class="content-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive" data-pattern="priority-columns">
                    @if (Model.Count > 0)
                    {
                        <div class="btn-group">
                            @using (Html.BeginForm("PrintGoodQualityInspectionByDateRangeByDateRange", "TransferRequisitionIssues", FormMethod.Post, new { @target = "_blank", @role = "form", @enctype = "multipart/form-data" }))
                            {
                                <button type="button" onclick="location.href='@Url.Action("PrintGoodQualityInspectionByDateRangeByDateRange", "GoodQualityInspections")'" target="_blank" class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-print"></span> Print
                                </button>
                            }
                        </div>

                        <div>
                            @foreach (var item in Model)
                            {
                                <hr />
                                <h4>Good Quality Inspection ID: @item.Id</h4>
                                <h4>Sequence : @item.Sequence</h4>
                                <h4>Inspection date : @item.InspectionDate</h4>
                                <h4>GRN Id : @item.GRNId</h4>
                                {
                                    <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th data-priority="1" style="text-align:center">Item</th>
                                                <th data-priority="1" style="text-align:center">Received Quanitity</th>
                                                <th data-priority="1" style="text-align:center">QC Passed Quantity</th>
                                                <th data-priority="1" style="text-align:center">Rejected Quantity</th>
                                                <th data-priority="1" style="text-align:center">Store Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var itm in GQIInfoDetailsList)
                                            {
                                                if (itm.GQIId == item.Id)
                                                {
                                                    <tr>
                                                        <td align="center">@itm.Item.Name</td>
                                                        <td align="center">@itm.ReceivedQuantity</td>
                                                        <td align="center">@itm.QCPassedQuantity</td>
                                                        <td align="center">@itm.RejectedQuantity</td>
                                                        <td align="center">@itm.Store.Name</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

