﻿@model StoreManagementSystem.Models.PRM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript">
        $("#supplierName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Suppliers/GetExistingSuppliers",
                    type: "POST",
                    dataType: "json",
                    data: { SupplierName: $("#supplierName").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: "Code:" + item.Code + ", Name:" + item.Name + ", Contact Person:" + item.ContactPerson + ", Short Name:" + item.ShortName, id: item.Id, name: item.Name };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                $("#supplierid").val(ui.item.id);
                $("#supplierName").val(ui.item.name);
                return false;
            }
        });
        $("#itemname").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Items/GetExistingItems",
                    type: "POST",
                    dataType: "json",
                    data: { ItemName: $("#itemname").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name + ", Code:" + item.Code + ", Color:" + item.Color.Name + ", UOM:" + item.UOM.Name, name: item.Name, id: item.Id };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                $("#itemid").val(ui.item.id);
                $("#itemname").val(ui.item.name);
                return false;
            }
        });
        function addItem() {
            if ($('#itemid').val() != "") {
                $.ajax({
                    url: '/PRMs/GetSelectedDetails',
                    method: 'POST',
                    data: {
                        ItemId: $('#itemid').val(),
                        ItemName: $('#itemname').val(),
                        Quantity: $('#quantity').val(),
                        RequiredFor: $('#requiredfor').val(),
                        Remarks: $('#remarks').val(),
                    },
                    cache: false,
                    error: function () {
                        alert("An error occoured!");
                    },
                    success: function (response) {
                        $('#myTable tbody').empty();
                        for (var i = 0; i < response.length; i++) {
                            $('#myTable').find('tbody').append("<tr>" +
                                                            "<td>" +
                                                                 "<label class = \"form-control\" style = \"width:100%\">" + response[i].Item.Name + "</label>" +
                                                            "</td>" +
                                                            "<td>" +
                                                                "<label class = \"form-control\" style = \"width:100%\">" + response[i].Quantity + "</label>" +
                                                            "</td>" +
                                                            "<td>" +
                                                                "<label class = \"form-control\" style = \"width:100%\">" + response[i].RequiredFor + "</label>" +
                                                            "</td>" +
                                                            "<td>" +
                                                                "<label class = \"form-control\" style = \"width:100%\">" + response[i].Remarks + "</label>" +
                                                            "</td>" +
                                                            "<td class=\"action\">" +
                                                                "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteFromList(" + response[i].Id + ")\">Remove</button>" +
                                                            "</td></tr>")
                        }
                        $('#itemid').val('');
                        $('#itemname').val('');
                        $('#requiredfor').val('');
                        $('#quantity').val('');
                        $('#remarks').val('');
                        $('#itemname').focus();
                        document.getElementById("submitBtn").removeAttribute("disabled");
                    }
                });
            }
            else {
                alert('Must have to enter item name!');
            }
        };
        function deleteFromList(detailsId) {
            $.ajax({
                url: '/PRMs/DeleteFromList',
                method: 'POST',
                data: {
                    DetailsId: detailsId,
                },
                cache: false,
                error: function () {
                    alert("An error occoured!");
                },
                success: function (response) {
                    $('#myTable tbody').empty();
                    for (var i = 0; i < response.length; i++) {
                        $('#myTable').find('tbody').append("<tr>" +
                                                        "<td>" +
                                                             "<label class = \"form-control\" style = \"width:100%\">" + response[i].Item.Name + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Quantity + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].RequiredFor + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Remarks + "</label>" +
                                                        "</td>" +
                                                        "<td class=\"action\">" +
                                                            "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteFromList(" + response[i].Id + ")\">Remove</button>" +
                                                        "</td></tr>")
                    }
                    if (response.length == 0) {
                        document.getElementById("submitBtn").setAttribute("disabled", true);
                    }
                }
            });
        }
    </script>
    }

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Purchase Requisition Management</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Status)
        <div class="row">
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.ReqNo, "Requisition No", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.ReqNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ReqNo, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.DepartmentId, "Department", new { @class = "required" })
                </div>
                    <div>
                        @Html.DropDownList("DepartmentId", null, "--Select--", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                    </div>
            </div>
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.ReqTypeId, "Requisition Type", new { @class = "required" })
                </div>
                    <div>
                        @Html.DropDownList("ReqTypeId", null,"--Select--", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ReqTypeId, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Note, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.RequrimentDate, "Requirment Date", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.RequrimentDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RequrimentDate, "", new { @class = "text-danger" })
                    </div>
                <br />
                
            </div>
        </div>
        <div class="row">
            <section class="box ">
                <h4>Details</h4>
                <div class="row">
                    <table id="myTable" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Required For</th>
                                <th>Remarks</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input type="hidden" class="form-control" style="width:100%" id="itemid" name="ItemId" />
                                    <input type="text" class="form-control" style="width:100%" id="itemname" name="ItemName" placeholder="Item Name"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="quantity" name="Quantity" placeholder="Quantity" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="requiredfor" name="Requiredfor" placeholder="Required For"/>
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="remarks" name="Remarks" placeholder="Remarks"/>
                                </th>
                                <th>
                                    <button type="button" class="btn btn-primary" aria-expanded="false" onclick="addItem()">Add Item</button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
        </div>
        <br />
        <div class="row">
            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-default" id="submitBtn" disabled />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
