﻿@model StoreManagementSystem.Models.PRM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PRM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Sequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Sequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReqType.ReqName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqType.ReqName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReqNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReqDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequrimentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequrimentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
