﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -StoreManagement</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("content", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Users", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @* <ul class="nav navbar-nav">
                       <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    </ul>*@
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Pre-Requisites
                            <span class="caret"></span>
                        </a>
                       
                        <ul class="dropdown-menu">
                          @if (Session["Usertype"].ToString() == "Admin")
                          {
                            <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
                            <li>@Html.ActionLink("Delivery", "Index", "Deliveries")</li>
                            <li>@Html.ActionLink("Items", "Index", "Items")</li>
                            <li>@Html.ActionLink("Marketing Person", "Index", "MKTPersons")</li>
                            <li>@Html.ActionLink("Requisition Type", "Index", "Reqtypes")</li>
                            <li>@Html.ActionLink("Suppliers", "Index", "Suppliers")</li>
                            <li>@Html.ActionLink("Bill To", "Index", "BillToes")</li>
                            <li>@Html.ActionLink("Store", "Index", "Stores")</li>
                            <li>@Html.ActionLink("User", "Index", "Users")</li>
                            <li>@Html.ActionLink("Color", "Index", "Colors")</li>
                            <li>@Html.ActionLink("UOM", "Index", "UOMs")</li>
                          }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Purchase Requisition
                            <span class="caret"></span>
                        </a>
                        
                        <ul class="dropdown-menu">
                           @if (Session["Usertype"].ToString() == "Admin")
                           {
                            <li>@Html.ActionLink("Purchase Requisiton List", "Index", "PRMs")</li>
                            <li>@Html.ActionLink("Purchase Requisiton Create", "Create", "PRMs")</li>
                           }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Purchase Order
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            @if (Session["Usertype"].ToString() == "Admin")
                            {
                                <li>@Html.ActionLink("Purchase Order", "Index", "PurchaseOrders")</li>
                                <li>@Html.ActionLink("Purchase Order Create", "Create", "PurchaseOrders")</li>
                                <li>@Html.ActionLink("Purchase Order Report", "PurchaseOrderByDateRangeView", "PurchaseOrders")</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            GRN Info
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          @if (Session["Usertype"].ToString() == "Admin" || Session["Usertype"].ToString() == "Manager")
                           {
                            <li>@Html.ActionLink("GRN Information", "Index", "GRNmanagements")</li>
                           }
                            @if (Session["Usertype"].ToString() == "Manager")
                            {
                                <li>@Html.ActionLink("GRN Information Create", "Create", "GRNmanagements")</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            GQI
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @if (Session["Usertype"].ToString() == "Admin" || Session["Usertype"].ToString() == "Inspector")
                            {
                            <li>@Html.ActionLink("Goods Inspection Info", "Index", "GoodQualityInspections")</li>
                            }
                            @if (Session["Usertype"].ToString() == "Inspector")
                            {
                                <li>@Html.ActionLink("Goods Inspection Info Create", "Create", "GoodQualityInspections")</li>
                                <li>@Html.ActionLink("Goods Inspection Info Report", "GoodQualityInspectionByDateRange", "GoodQualityInspections")</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            TR (Issue)
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                             @if (Session["Usertype"].ToString() == "Admin" || Session["Usertype"].ToString() == "StoreKeeper")
                             {
                             <li>@Html.ActionLink("Transfer Requisition (Issue)", "Index", "TransferRequisitionsIssues")</li>
                            <li>@Html.ActionLink("Transfer Requisition (Issue) Report", "TransferRequisitionByDateRangeView", "TransferRequisitionsIssues")</li>
                             }
                            @if (Session["Usertype"].ToString() == "StoreKeeper")
                            {
                                <li>@Html.ActionLink("Transfer Requisition (Issue) Create", "Create", "TransferRequisitionsIssues")</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                           TR(Receive)
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @if (Session["Usertype"].ToString() == "Admin" || Session["Usertype"].ToString() == "StoreKeeper")
                            {
                            <li>@Html.ActionLink("Transfer Requisition (Receive)", "ReceivedIndex", "TransferRequisitionsIssues")</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Shipment
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @if (Session["Usertype"].ToString() == "Admin" || Session["Usertype"].ToString() == "StoreKeeper")
                            {
                                <li>@Html.ActionLink("Shipment List", "Index", "DailyStoreShipments")</li>
                            }
                            @if (Session["Usertype"].ToString() == "StoreKeeper")
                            {
                                <li>@Html.ActionLink("Shipment Create", "Create", "DailyStoreShipments")</li>
                                <li>@Html.ActionLink("Shipment Report", "DailyStoreShipmentByDateRangeView", "DailyStoreShipments")</li>
                            }
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Log out", "LogOut", "Users")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Setu</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

