﻿@model StoreManagementSystem.Models.PurchaseOrder

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript">
        $("#suppliername").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Suppliers/GetExistingSuppliers",
                type: "POST",
                dataType: "json",
                data: { SupplierName: $("#suppliername").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: "Code:" + item.Code + ", Name:" + item.Name + ", Email:" + item.Email + ", Addresss: " + item.Address + ", Contact Person:" + item.ContactPerson + ", Phone:" + item.CPPhone, id: item.Id, name: item.Name };
                    }))
                }
            })
        },
        select: function (event, ui) {
            $("#supplierId").val(ui.item.id);
            $("#suppliername").val(ui.item.name);
            return false;
        }
    });
    $("#mktpersonName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/MKTPersons/GetExistingMKTPerson",
                type: "POST",
                dataType: "json",
                data: { MKTPersonName: $("#mktpersonName").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: "Code: "+ item.Code +  ", Name: " + item.Name + ", Designation: "  + item.Designation , id: item.Id, name: item.Name };
                    }))
                }
            })
        },
        select: function (event, ui) {
            $("#mktpersonId").val(ui.item.id);
            $("#mktpersonName").val(ui.item.name);
            return false;
        }
    });

    $("#itemname").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/PurchaseOrders/GetExistingItems",
                type: "POST",
                dataType: "json",
                data: { ItemName: $("#itemname").val(), ReqId: $("#reqId").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label:"Name: " + item.Item.Name + ", Quantiy:"+  item.Quantity , name: item.Item.Name,  quantity: item.Quantity, id: item.ItemId };
                    }));
                }
            });
        },
        select: function (event, ui) {
            $("#itemid").val(ui.item.id);
            $("#itemname").val(ui.item.name);
            $('#quantity').val(ui.item.quantity);
            return false;
        }
    });
    $("#delivery").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Deliveries/GetExistingDelivery",
                type: "POST",
                dataType: "json",
                data: { Delivery: $("#delivery").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: "Code:" + item.Code + ", Name:" + item.Name + ", Email:" + item.Email + ", Addresss: "+ item.Address+ ", Contact Person:"+item.ContactPerson+", Phone:"+ item.CPPhone, id: item.Id, name: item.Name };
                    }))
                }
            })
        },
        select: function (event, ui) {
            $("#deliveryId").val(ui.item.id);
            $("#delivery").val(ui.item.name);
            return false;
        }
    });
    $("#billTo").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/BillToes/GetExistingBillToes",
                type: "POST",
                dataType: "json",
                data: { BillTo: $("#billTo").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: "Code:" + item.Code + ", Name:" + item.Name + ", Email:" + item.Email + ", Addresss: " + item.Address + ", Contact Person:" + item.ContactPerson + ", Phone:" + item.CPPhone, id: item.Id, name: item.Name };
                    }))
                }
            })
        },
        select: function (event, ui) {
            $("#billtoId").val(ui.item.id);
            $("#billTo").val(ui.item.name);
            return false;
        }
    });

    function calculateTotal() {
        if ($("#price").val() != "" && $("#quantity").val() != "")
        {
            var qty = $("#quantity").val();
            var price = $("#price").val();
            var total = qty * price;
            $("#total").val(total);
        }
    }

    function addItem() {
        if ($('#itemid').val() != "") {
            $.ajax({
                url: '/PurchaseOrders/GetSelectedItems',
                method: 'POST',
                data: {
                    ItemId: $('#itemid').val(),
                    ItemName: $('#itemname').val(),
                    Price: $('#price').val(),
                    Quantity: $('#quantity').val(),
                    Total: $('#total').val(),
                    SupplierId: $('#supplierId').val(),
                    SupplierName: $('#suppliername').val(),
                },
                cache: false,
                error: function () {
                    alert("An error occoured!");
                },
                success: function (response) {
                    $('#myTable tbody').empty();
                    for (var i = 0; i < response.length; i++) {
                        $('#myTable').find('tbody').append("<tr>" +
                                                        "<td>" +
                                                             "<label class = \"form-control\" style = \"width:100%\">" + response[i].Item.Name + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Price + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Quantity + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].TotalPrice + "</label>" +
                                                        "</td>" +
                                                         "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Supplier.Name + "</label>" +
                                                        "</td>" +
                                                        "<td class=\"action\">" +
                                                            "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteFromList(" + response[i].Id + ")\">Remove</button>" +
                                                        "</td></tr>")
                    }
                    $('#itemid').val('');
                    $('#itemname').val('');
                    $('#price').val('');
                    $('#quantity').val('');
                    $('#total').val('');
                    $('#supplierId').val('');
                    $('#suppliername').val('');
                    $('#itemname').focus();
                    document.getElementById("submitBtn").removeAttribute("disabled");
                }
            });
        }
        else {
            alert('Must have to enter item name!');
        }
    }

    function deleteFromList(detailsId) {
        $.ajax({
            url: '/PurchaseOrders/DeleteFromList',
            method: 'POST',
            data: {
                DetailsId: detailsId,
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                $('#myTable tbody').empty();
                for (var i = 0; i < response.length; i++) {
                    $('#myTable').find('tbody').append("<tr>" +
                                                    "<td>" +
                                                         "<label class = \"form-control\" style = \"width:100%\">" + response[i].Item.Name + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].Price + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].Quantity + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].TotalPrice + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].Supplier.Name + "</label>" +
                                                    "</td>" +
                                                    "<td class=\"action\">" +
                                                        "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteFromList(" + response[i].Id + ")\">Remove</button>" +
                                                    "</td></tr>")
                }
                if (response.length == 0) {
                    document.getElementById("submitBtn").setAttribute("disabled", true);
                }
            }
        });
    }
    </script>
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Purchase Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.ReqNoId, "Requisition No", new { @class = "required" })
                </div>
                <div>
                    @Html.DropDownList("ReqNoId", null, "Select Requisition No", htmlAttributes: new { @class = "form-control", @id = "reqId" })
                    @Html.ValidationMessageFor(model => model.ReqNoId, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.DeliveryId, "Delivery", new { @class = "required" })
                </div>
                <div>
                    <input type="hidden" id="deliveryId" name="DeliveryId" />
                    <input type="text" class="form-control" id="delivery" name="Delivery" placeholder="Delivery" />
                   @* @Html.DropDownList("DeliveryId", null, htmlAttributes: new { @class = "form-control", @ })*@
                    @Html.ValidationMessageFor(model => model.DeliveryId, "", new { @class = "text-danger" })
                </div>
                <br />
                @{
                    List<SelectListItem> listItems1 = new List<SelectListItem>();
                    listItems1.Add(new SelectListItem
                    {
                        Text = "Dollar",
                        Value = "Dollar",
                    });
                    listItems1.Add(new SelectListItem
                    {
                        Text = "Euro",
                        Value = "Euro"

                    });
                    listItems1.Add(new SelectListItem
                    {
                        Text = "Taka",
                        Value = "Taka"

                    });
                }
                <div>
                    @Html.LabelFor(model => model.Currency, new { @class = "required" })
                </div>
                <div>
                    @Html.DropDownListFor(model => model.Currency, listItems1,"-Select-",htmlAttributes : new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                </div>
                <br />
                @{
                    List<SelectListItem> listItems2 = new List<SelectListItem>();
                    listItems2.Add(new SelectListItem
                    {
                        Text = "Air",
                        Value = "Air",
                    });
                    listItems2.Add(new SelectListItem
                    {
                        Text = "Water Ways",
                        Value = "WaterWays"

                    });
                    listItems2.Add(new SelectListItem
                    {
                        Text = "Land Transport",
                        Value = "LandTransport"

                    });
                }
                <div>
                    @Html.LabelFor(model => model.Shipedby, "Shipped By", new { @class = "required" })
                </div>
                <div>
                    @Html.DropDownListFor(model => model.Shipedby, listItems2,"-Select-",htmlAttributes : new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Shipedby, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.PurchaseOrderNo, "Purchase Order No", new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.PurchaseOrderNo, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.PurchaseOrderNo, @readonly = true } })
                    @Html.ValidationMessageFor(model => model.PurchaseOrderNo, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.BillToId, "Bill To", new { @class = "required" })
                </div>
                <div>
                    <input type="hidden" id="billtoId" name="BillToId" />
                    <input type="text" class="form-control" id="billTo" name="BillTo" placeholder="Bill To" />
                    @*@Html.DropDownList("BillToId", null, htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.BillToId, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.CurrencyRate, "Currency Rate", new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.CurrencyRate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CurrencyRate, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.TradeTerm, "Trade Term", new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.TradeTerm, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TradeTerm, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <br />
                <div>
                    @Html.LabelFor(model => model.MKTPersonId, "Marketing Person", new { @class = "required" })
                </div>
                <div>
                    <input type="hidden" id="mktpersonId" name="mktpersonId" />
                    <input type="text" class="form-control" id="mktpersonName" name="mktpersonName" placeholder="MKT Person Name" />
                    @*@Html.DropDownList("MKTPersonId", null, htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.MKTPersonId, "", new { @class = "text-danger" })
                </div>
                <br />
                @{
                    List<SelectListItem> listItems3 = new List<SelectListItem>();
                    listItems3.Add(new SelectListItem
                    {
                        Text = "Payment Term 1",
                        Value = "PaymentTerm1",
                    });
                    listItems3.Add(new SelectListItem
                    {
                        Text = "Payment Term 2",
                        Value = "PaymentTerm2"

                    });
                    listItems3.Add(new SelectListItem
                    {
                        Text = "Payment Term 3",
                        Value = "PaymentTerm3"

                    });
                }
                <div>
                    @Html.LabelFor(model => model.PaymentTerm, "Payment Term", new { @class = "required" })
                </div>
                <div>
                    @Html.DropDownListFor(model => model.PaymentTerm, listItems3,"-Select-",htmlAttributes : new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.PaymentTerm, "", new { @class = "text-danger" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.Note, new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <section class="box ">
                <h4>Details</h4>
                <div class="row">
                    <table id="myTable" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Total Price</th>
                                <th>Supplier</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input type="hidden" class="form-control" style="width:100%" id="itemid" name="ItemId" />
                                    <input type="text" class="form-control" style="width:100%" id="itemname" name="ItemName" placeholder="Item Name" onchange="calculateTotal()" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="price" name="Price" placeholder="Unit Price" onchange="calculateTotal()" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="quantity" name="Quantity" placeholder="Quantity" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="total" name="Total" placeholder="Total Price" readonly />
                                </th>
                                <th>
                                    <input type="hidden" class="form-control" style="width:100%" id="supplierId" name="SupplierId" />
                                    <input type="text" class="form-control" style="width:100%" id="suppliername" name="SupplierName" placeholder="Supplier Name"/>
                                </th>
                                <th>
                                    <button type="button" class="btn btn-primary" aria-expanded="false" onclick="addItem()">Add Item</button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-default" id="submitBtn" disabled />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
