﻿@model StoreManagementSystem.Models.PurchaseOrder

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PurchaseOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Billto.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Billto.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delivery.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivery.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MKTPerson.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MKTPerson.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requisition.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requisition.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrderNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrderNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradeTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradeTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
