﻿@model StoreManagementSystem.Models.PurchaseOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PurchaseOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Bill To
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Billto.Name)
        </dd>

        <dt>
            Delivery To
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivery.Name)
        </dd>

        <dt>
            Marketing Person
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MKTPerson.Name)
        </dd>

        <dt>
            Requisition Note
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requisition.ReqNo)
        </dd>

        <dt>
            Purchase Order No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrderNo)
        </dd>

        <dt>
            Purchase Order Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            Currency Rate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyRate)
        </dd>

        <dt>
            Payment Term
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentTerm)
        </dd>

        <dt>
            Shipped By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipedby)
        </dd>

        <dt>
            Trade Term
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradeTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>