﻿@model IEnumerable<StoreManagementSystem.Models.PurchaseOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<br />
<div class="col-md-12 col-sm-12 col-xs-12">
    @{int rowNo = 0;}
    <table id="myTable" class="table table-striped dt-responsive display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>SL</th>
                <th>
                    Details
                </th>
                <th>
                    Bill to
                </th>
                <th>
                    Delivery To
                </th>
                <th>
                    Marketing Person
                </th>
                <th>
                    Reqquisition No
                </th>
                <th>
                    Purchase Order No
                </th>
                <th>
                    Purchase Order Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Currency)
                </th>
                <th>
                    Currency Rate
                </th>
                <th>
                    Payment Term
                </th>
                <th>
                    Shipped By
                </th>
                <th>
                    Trade Term
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th>
                    Status
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>SL</th>
                <th>
                    Details
                </th>
                <th>
                    Bill to
                </th>
                <th>
                    Delivery To
                </th>
                <th>
                    Marketing Person
                </th>
                <th>
                    Reqquisition No
                </th>
                <th>
                    Purchase Order No
                </th>
                <th>
                    Purchase Order Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Currency)
                </th>
                <th>
                    Currency Rate
                </th>
                <th>
                    Payment Term
                </th>
                <th>
                    Shipped By
                </th>
                <th>
                    Trade Term
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th>
                    Status
                </th>
                <th>Options</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center" width="5%">
                        @(rowNo += 1)
                    </td>
                    <td align="center" width="8%">
                        <button type="button" class="btn btn-default btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "PurchaseOrderDetails", new { id = item.Id })'">Item Details</button>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Billto.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Delivery.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MKTPerson.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Requisition.ReqNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseOrderNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseOrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrencyRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentTerm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shipedby)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TradeTerm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section content
{
    @Styles.Render("~/Content/dataTable")
}
@section scripts
{
    @Scripts.Render("~/bundles/dataTable")
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'processing': true
            });
        });
    </script>
}
