﻿
@{
    ViewBag.Title = "PurchaseOrderByDateRange";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var PurchaseOrderDetailsList = (List<StoreManagementSystem.Models.PurchaseOrderDetails>)Session["PurchaseOrderDetailsList"];
}
<br />
<h2>Purchase Order By Date Range</h2>
<br />
@using (Html.BeginForm("PurchaseOrderByDateRangeView", "PurchaseOrders"))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="controls">
                    <input type="date" id="from_date" name="FromDate" placeholder="From Date" class="form-control datepicker" data-start-view="2" required>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="controls">
                    <input type="date" id="to_date" name="ToDate" placeholder="To Date" class="form-control datepicker" data-start-view="2" required>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
    <hr />
    <div class="content-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive" data-pattern="priority-columns">
                    @if (Model.Count > 0)
                    {
                        <div class="btn-group">
                            @using (Html.BeginForm("PrintPurchaseOrderByDateRange", "PurchaseOrders", FormMethod.Post, new { @target = "_blank", @role = "form", @enctype = "multipart/form-data" }))
                            {
                                <button type="button" onclick="location.href='@Url.Action("PrintPurchaseOrderByDateRange", "PurchaseOrders")'" target="_blank" class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-print"></span> Print
                                </button>
                            }
                        </div>

                        <div>
                            @foreach (var item in Model)
                            {
                                <hr />
                                <h4>Purchase Order ID: @item.Id</h4>
                                <h4>Purchase Order No: @item.PurchaseOrderNo</h4>
                                <h4>Requisition No: @item.Requisition.ReqNo</h4>
                                <h4>Purchase Order Date: @item.PurchaseOrderDate</h4>
                                <h4>Marketing Person: @item.MKTPerson.Name</h4>
                                {
                                    <table cellspacing="0" id="tech-companies-1" class="table table-small-font table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th data-priority="1" style="text-align:center">Item</th>
                                                <th data-priority="1" style="text-align:center">Quantity</th>
                                                <th data-priority="1" style="text-align:center">Price</th>
                                                <th data-priority="1" style="text-align:center">Total Price</th>
                                                <th data-priority="1" style="text-align:center">Supplier</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var itm in PurchaseOrderDetailsList)
                                            {
                                                if (itm.PurchaseOrderId == item.Id)
                                                {
                                                    <tr>
                                                        <td align="center">@itm.Item.Name</td>
                                                        <td align="center">@itm.Quantity</td>
                                                        <td align="center">@itm.Price</td>
                                                        <td align="center">@itm.TotalPrice</td>
                                                        <td align="center">@itm.Supplier.Name</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>                        
                    }
                </div>
            </div>
        </div>
    </div>
}

