﻿@model StoreManagementSystem.Models.GRNmanagement

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript">
    $("#itemname").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/GRNmanagements/GetExistingOrders",
                type: "POST",
                dataType: "json",
                data: { ItemName: $("#itemname").val(), OrderId: $("#order_id").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Item.Name + " Quantity:" + item.Quantity + "Supplier:" + item.Supplier.Name, name: item.Item.Name, quantity: item.Quantity,suppliername: item.Supplier.Name, id: item.ItemId, supplierid: item.Supplier.Id };
                    }));
                }
            });
        },
        select: function (event, ui) {
            $("#itemid").val(ui.item.id);
            $("#itemname").val(ui.item.name);
            $('#quantity').val(ui.item.quantity);
            $('#supplierId').val(ui.item.supplierid);
            $('#suppliername').val(ui.item.suppliername);
            return false;
        }
    });

    function calculateYetToReceive() {
        if ($("#quantity").val() != "" && $("#rcv_quantity").val() != "") {
            var qty = $("#quantity").val();
            var rcv_quantity = $("#rcv_quantity").val();
            var ytr_quantity = qty - rcv_quantity;
            $("#ytr_quantity").val(ytr_quantity);
        }
    }

    function addItem() {
        if ($('#itemid').val() != "") {
            $.ajax({
                url: '/GRNmanagements/GetSelectedItems',
                method: 'POST',
                data: {
                    ItemId: $('#itemid').val(),
                    ItemName: $('#itemname').val(),
                    Quantity: $('#quantity').val(),
                    RcvQuantity: $('#rcv_quantity').val(),
                    YtrQuantity: $('#ytr_quantity').val(),
                    LotNumber: $('#lot_number').val(),
                    SupplierId: $('#supplierId').val(),
                    SupplierName: $('#suppliername').val()
                },
                cache: false,
                error: function () {
                    alert("An error occoured!");
                },
                success: function (response) {
                    $('#myTable tbody').empty();
                    for (var i = 0; i < response.length; i++) {
                        $('#myTable').find('tbody').append("<tr>" +
                                                        "<td>" +
                                                             "<label class = \"form-control\" style = \"width:100%\">" + response[i].Item.Name + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].OrderedQuantity + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].ReceivedQuantity + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].YetToReceive + "</label>" +
                                                        "</td>" +
                                                         "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].LotNumber + "</label>" +
                                                        "</td>" +
                                                        "<td>" +
                                                            "<label class = \"form-control\" style = \"width:100%\">" + response[i].Supplier.Name + "</label>" +
                                                        "</td>" +
                                                        "<td class=\"action\">" +
                                                            "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteFromList(" + response[i].Id + ")\">Remove</button>" +
                                                        "</td></tr>")
                    }
                    $('#itemid').val('');
                    $('#itemname').val('');
                    $('#quantity').val('');
                    $('#rcv_quantity').val('');
                    $('#ytr_quantity').val('');
                    $('#lot_number').val('');
                    $('#supplierId').val('');
                    $('#suppliername').val('');
                    $('#itemname').focus();
                    document.getElementById("submitBtn").removeAttribute("disabled");
                }
            });
        }
        else {
            alert('Must have to enter item name!');
        }
    }

    function deleteFromList(detailsId) {
        $.ajax({
            url: '/GRNmanagements/DeleteFromList',
            method: 'POST',
            data: {
                DetailsId: detailsId,
            },
            cache: false,
            error: function () {
                alert("An error occoured!");
            },
            success: function (response) {
                $('#myTable tbody').empty();
                for (var i = 0; i < response.length; i++) {
                    $('#myTable').find('tbody').append("<tr>" +
                                                    "<td>" +
                                                         "<label class = \"form-control\" style = \"width:100%\">" + response[i].Item.Name + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].OrderedQuantity + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].ReceivedQuantity + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].YetToReceive + "</label>" +
                                                    "</td>" +
                                                     "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].LotNumber + "</label>" +
                                                    "</td>" +
                                                    "<td>" +
                                                        "<label class = \"form-control\" style = \"width:100%\">" + response[i].Supplier.Name + "</label>" +
                                                    "</td>" +
                                                    "<td class=\"action\">" +
                                                        "<button type=\"button\" class=\"btn btn-primary\" aria-expanded=\"false\" onclick=\"deleteFromList(" + response[i].Id + ")\">Remove</button>" +
                                                    "</td></tr>")
                }
                if (response.length == 0) {
                    document.getElementById("submitBtn").setAttribute("disabled", true);
                }
            }
        });
    }
    </script>
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>GRN Management</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.GRNType, "GRN Type", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.GRNType, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.GRNType, @readonly = true } })
                        @Html.ValidationMessageFor(model => model.GRNType, "", new { @class = "text-danger" })
                    </div>
                <br/>
                <div>
                    @Html.LabelFor(model => model.Remarks, new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                    </div>
               <br/>
                <div>
                    @Html.LabelFor(model => model.GatePassNo, "Get Pass No", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.GatePassNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GatePassNo, "", new { @class = "text-danger" })
                    </div>
            </div>
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.GRNNumber, "GRN Number", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.GRNNumber, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.GRNNumber, @readonly = true } })
                        @Html.ValidationMessageFor(model => model.GRNNumber, "", new { @class = "text-danger" })
                    </div>
                <br/>
                <div>
                    @Html.LabelFor(model => model.PurchaseOrderId, "Purchase Order", new { @class = "required" })
                </div>
                    <div>
                        @Html.DropDownList("PurchaseOrderId", null, "Select", htmlAttributes: new { @class = "form-control", @id="order_id" })
                        @Html.ValidationMessageFor(model => model.PurchaseOrderId, "", new { @class = "text-danger" })
                    </div>
                <br/>
                <div>
                    @Html.LabelFor(model => model.ChallanDate, "Challan Date", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.ChallanDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ChallanDate, "", new { @class = "text-danger" })
                    </div>
                <br/>
                <div>
                    @Html.LabelFor(model => model.VehicleNo, "Vehicle No", new { @class = "required" })
                </div>
                <div>
                    @Html.EditorFor(model => model.VehicleNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VehicleNo, "", new { @class = "text-danger" })
                </div>
            
            </div>
            <div class="col-md-4">
                <div>
                    @Html.LabelFor(model => model.GLDate, "GL Date", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.GLDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GLDate, "", new { @class = "text-danger" })
                    </div>
                <br/>
                @{
                    List<SelectListItem> listItems1 = new List<SelectListItem>();
                    listItems1.Add(new SelectListItem
                    {
                        Text = "Inititalize",
                        Value = "Inititalize",
                    });
                    listItems1.Add(new SelectListItem
                    {
                        Text = "Approved",
                        Value = "Approved"

                    });
                }
                <div>
                    @Html.LabelFor(model => model.Status, new { @class = "required" })
                </div>
                    <div>
                        @Html.DropDownListFor(model => model.Status, listItems1,"--Select--",htmlAttributes : new { @class = "form-control" } )
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                <br />
                <div>
                    @Html.LabelFor(model => model.ChallanNo, "Challan Number", new { @class = "required" })
                </div>
                    <div>
                        @Html.EditorFor(model => model.ChallanNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ChallanNo, "", new { @class = "text-danger" })
                    </div>
            </div>
        </div>
        <div class="row">
            <section class="box ">
                <h4>Details</h4>
                <div class="row">
                    <table id="myTable" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Received Quantity</th>
                                <th>Yet To Receive Qty</th>
                                <th>Lot Number</th>
                                <th>Supplier</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    <input type="hidden" class="form-control" style="width:100%" id="itemid" name="ItemId" />
                                    <input type="text" class="form-control" style="width:100%" id="itemname" name="ItemName" placeholder="Item Name" onchange="calculateYetToReceive()" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="quantity" name="Quantity" placeholder="Quantity" readonly />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="rcv_quantity" name="RcvQuantity" placeholder="Received Quantity" onchange="calculateYetToReceive()" />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="ytr_quantity" name="YtrQuantity" placeholder="Yet To Receive Quantity" readonly />
                                </th>
                                <th>
                                    <input type="text" class="form-control" style="width:100%" id="lot_number" name="LotNumber" placeholder="Lot Number" />
                                </th>
                                <th>
                                    <input type="hidden" class="form-control" style="width:100%" id="supplierId" name="SupplierId" />
                                    <input type="text" class="form-control" style="width:100%" id="suppliername" name="SupplierName" placeholder="Supplier Name" />
                                </th>
                                <th>
                                    <button type="button" class="btn btn-primary" aria-expanded="false" onclick="addItem()">Add Item</button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>
        </div>
        <br />
        <div class="row">
            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-default" id="submitBtn" disabled />
            </div>
        </div></div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
