﻿@model StoreManagementSystem.Models.GRNmanagement

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GRNmanagement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrder.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrder.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GRNType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRNType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GRNNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRNNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GRNDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRNDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GLDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GLDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChallanDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChallanDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChallanNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChallanNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GatePassNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GatePassNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
