﻿@model IEnumerable<StoreManagementSystem.Models.GRNmanagement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>


<br />

<div class="col-md-12 col-sm-12 col-xs-12">
    @{int rowNo = 0;}
    <table id="myTable" class="table table-striped dt-responsive display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>SL</th>
                <th>
                    Details
                </th>
                <th>
                    Currency
                </th>
                <th>
                    Supplier
                </th>
                <th>
                    GRN Type
                </th>
                <th>
                    GRN Number
                </th>
                <th>
                    GRN Date
                </th>
                <th>
                    GL Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
                <th>
                    Challan Date
                </th>
                <th>
                    Challan No
                </th>
                <th>
                    Gate Pass No
                </th>
                <th>
                    Vehicle No
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>SL</th>
                <th>
                    Details
                </th>
                <th>
                    Currency
                </th>
                <th>
                    Supplier
                </th>
                <th>
                    GRN Type
                </th>
                <th>
                    GRN Number
                </th>
                <th>
                    GRN Date
                </th>
                <th>
                    GL Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
                <th>
                    Challan Date
                </th>
                <th>
                    Challan No
                </th>
                <th>
                    Gate Pass No
                </th>
                <th>
                    Vehicle No
                </th>
                <th>Options</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center" width="5%">
                        @(rowNo += 1)
                    </td>
                    <td align="center" width="8%">
                        <button type="button" class="btn btn-default btn-sm" aria-expanded="false" onclick="location.href='@Url.Action("Index", "GRNDetails", new { id = item.Id })'">Item Details</button>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseOrder.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GRNType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GRNNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GRNDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GLDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChallanDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChallanNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GatePassNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleNo)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section content
{
    @Styles.Render("~/Content/dataTable")
}
@section scripts
{
    @Scripts.Render("~/bundles/dataTable")
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'processing': true
            });
        });
    </script>
}
